<h1 mat-dialog-title>
  <mat-icon>person</mat-icon> Login to WHISPers
</h1>

<mat-dialog-content>
  <form> <!-- [formGroup]="loginForm" id="loginForm" -->

    <div class="vertical-form-container">
      Enter your email and we'll contact you with<br> instructions on how to reset your password.
      <mat-form-field class="form-control">
        <input matInput placeholder="Email"> <!-- formControlName="username" -->
      </mat-form-field>
	</div>
	
  </form>

  <div class="forgot-password-div">
    <button mat-button (click)="onSubmit()">Send Reset Instructions</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>

  <div class="form-buttons-flex">
    <button mat-button (click)="this.passwordResetDialogRef.close('cancel');">Cancel</button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>

</mat-dialog-actions>